pipeline/pl_ingesta_snowflake.json
{
	"name": "pl_ingesta_snowflake",
	"properties": {
		"activities": [
			{
				"name": "Copy_Kaggle_to_Snowflake",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand",
							"additionalFormatOptions": {
								"NULL_IF": "('-')"
							}
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStoragePractice",
							"type": "LinkedServiceReference"
						},
						"path": "entrada-datos"
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedTextEuroDS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SnowflakeTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log_Error_to_Snowflake",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Kaggle_to_Snowflake",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Snowflake1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "@{concat(\n\n    'INSERT INTO ERROR_LOG (PIPELINE_NAME, ERROR_MESSAGE, FILE_NAME) VALUES (',\n\n    '''', pipeline().Pipeline, ''', ',\n\n    '''', replace(activity('Copy_Kaggle_to_Snowflake').error.message, '''', ''''''), ''', ',\n\n    '''', pipeline().parameters.p_file_name, '''',\n\n    ');'\n\n)}"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00",
					"treatDecimalAsString": false
				}
			}
		],
		"parameters": {
			"p_file_name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}